.outer-margin {
   margin:3px;
   margin-top: 100px;   
}

.container {
 margin:1px; 
 width:100%; 
 max-width:320px; 
 padding:15px; 
 background-color:white; 
 border:1px grey solid;
 border-radius: 5px;
}

/* Placeholder disappears on focus */
input:focus::-webkit-input-placeholder  {color:transparent !IMPORTANT;}
input:focus::-moz-placeholder   {color:transparent !IMPORTANT;}
input:-moz-placeholder   {color:transparent !IMPORTANT;}
input[type="checkbox"] {
  text-align:left !IMPORTANT;
  width:25px !IMPORTANT;
  height:25px !IMPORTANT;
  margin-top:-2px !IMPORTANT;
}
.ui-tooltip-content {font-size:0.7em !IMPORTANT}
.input-row {
  display:block;
  min-height:60px;
}