@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Regular.eot"); 
    src: url("../fonts/raleway/Raleway-Regular.woff") format('woff2'),
         url("../fonts/raleway/Raleway-Regular.woff") format('woff'),
         url("../fonts/raleway/Raleway-Regular.ttf") format('truetype'),
         url("../fonts/raleway/Raleway-Regular.svg") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/raleway/Raleway-Bold.eot']}"); 
    src: url("../fonts/raleway/Raleway-Bold.woff2']}") format('woff2'),
         url("../fonts/raleway/Raleway-Bold.woff']}") format('woff'),
         url("../fonts/raleway/Raleway-Bold.ttf']}") format('truetype'),
         url("../fonts/raleway/Raleway-Bold.svg']}") format('svg');
    font-weight: bold;
    font-style: normal;
}

.navbar{
 /*border-bottom:2px #AA5500 solid;*/
 border-color: rgba(235,137,36,1) !important;
}

.site-name-and-slogan{
	margin-top:45px;
}

.site-name{
	color:#EB8A24;
	font-size:200%;
	text-transform: uppercase;
}

.site-slogan{
	margin-top:-10px;
	font-size:100%;
}

.btn-menu{
	opacity:1;
	background-image:url(../images/btnmenu.png);
	background-size:contain;
	background-repeat:no-repeat;
	width:40px;
	height:30px;
	margin-top:10px;
background-color:rgba(255,1,5,0);
border:0px;
float:right;
}

.brand{
width:75%;	
margin-top:-20px;
}

.icon-people{
	width:100%;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: rgba(255,255,255,.7);;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #fff;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff!important;
    background-color: transparent;
}

.navbar{
background-color: rgba(235,137,36,1);	
}

/*.banner{
background-image:url(../images/banner.png);	
background-size:contain;
background-repeat:no-repeat;
overflow:hidden;
}*/

#logo{
    z-index: 2;
    position: fixed;
    width: 200px;
    height: auto; 
    float: left;
    top: 25px;
    margin-left: 5px;
}

#item-logo + li{
   margin-left: 180px; 
}

@media screen and (min-width: 767px){
    #after-logo{
            margin-left: 160px;
    }
}

#top-menu{
    text-align: right !important;
    height: 50px;
    padding-right: 20px;
}

#top-menu li>a{
    font-family: 'Raleway';
    font-weight: lighter; 
    font-size: 0.9em !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

#top-menu li{
    margin-top: 0px !important;
}

@media screen and (min-width: 768px){
	#top-menu{
                float: left;
                list-style-type: none;
                padding: 0; 
                position: relative; 
                left: 65% !important; 
	}
        #top-menu li{
                float: left;
                position: relative; 
                right: 58%;
        } 
        #top-menu li>a{
            padding-right: 10px !important;
            padding-left: 10px !important;
            font-size: 0.7em !important;
        }
}

@media screen and (min-width: 800px){
    #top-menu{
       left: 63% !important; 
    }   
}

@media screen and (min-width: 980px){
    #top-menu{
       left: 63% !important; 
    }   
}

@media screen and (min-width: 1025px){
    #top-menu li>a{
            padding-right: 15px !important;
            padding-left: 15px !important;
            font-size: 1em !important;
        }
}

#top-menu img{
	width: 100%;
	height: auto;
}

#gallery01{
    margin-bottom: 80px;
}

#donations{
    margin-top: 40px;
}

.linesbanner{
float:left;
position:absolute;
width:100%;
margin-top:-250px;

z-index:999;
}

.title{
color:rgba(255,255,255,1.00);	
	
}
.title1{
height:60px;
color:rgba(255,255,255,1.00);
background: url('../images/home-section1-title.png') no-repeat 50%  0px;
background-size:contain;
position:500px;
}

.title2{
    height:60px;
    color:rgba(255,255,255,1.00);
    background: url('../images/home-section2-title1.png') no-repeat 50%  0px;
    background-size:contain;
    margin-top: 42px;
/*    position:500px;*/
    /*font-family: 'Raleway';*/
}

.title3{
height:60px;
color:rgba(255,255,255,1.00);
background: url('../images/home-section3-title.png') no-repeat 50%  0px;
background-size:contain;
position:500px;
}

.title3-2{	
    height:60px;
    color: #fff !important;
    background: url('../images/home-section2-title1.png') no-repeat 50%  0px;
    background-size:contain;
    position:500px;
    margin-top: 42px;
}

.title4{
    height:65px;
    color:rgba(255,255,255,1.00);
    background: url('../images/home-section2-title1.png') no-repeat 50%  0px;
    background-size:contain;
    position:500px;
}

.text-title{
padding-top:10px;	
}

.text-title2{
    padding-top:14px;
    color:#fff;
}

.text-title3{
	padding-top:10px;
	color:#fff;
}


@media screen and (width: 320px){
    .title2{
        height:50px !important;
    }
    .text-title2,.text-title3{
       padding-top: 8px !important;
       font-size: 0.9em !important;
    }       
}

@media screen and (min-width: 320px){
   .text-title4{
        font-size: 0.7em !important;
        padding-top: 8px;
    }   
}

@media screen and (min-width: 375px){
   .text-title4{
        font-size: 0.8em !important;
        padding-top: 12px;
    }   
}

@media screen and (min-width: 425px){
   .text-title4{
        font-size: 0.8em !important;
        padding-top: 16px;
    }   
}

.text-colored2 {
	color: #fff;
}

.leadcolor1{
color:#4D8FA1;	
	
}

.leadcolor2{
color:#339BEB;	
	
}

.leadcolor3{
color:#fff ;	
	
}

.text-footer{
		float:left;
		margin-left:25%;
}

.logo-bindevel{
	float:left;
}

.new-section{
background-color:rgba(255,255,255,0);	
}

.prev-arrow{
	width:50px;
	height:50px;
	background: url('../images/arrow-10.png');
margin-top:100%;

	background-repeat:no-repeat;
	background-size:contain;
}

.next-arrow{
	width:50px;
	height:50px;
	background: url('../images/arrow-11.png');
margin-top:100%;

	background-repeat:no-repeat;
	background-size:contain;
}

.prev-arrow:hover{
	width:50px;
	height:50px;
	background: url('../images/arrow-10.png');
margin-top:100%;
margin-left:-10%;
	background-repeat:no-repeat;
	background-size:contain;
}

.next-arrow:hover{
	width:50px;
	height:50px;
	background: url('../images/arrow-11.png');
margin-top:100%;
margin-left:10%;
	background-repeat:no-repeat;
	background-size:contain;
}


.prev-arrow2{
	width:50px;
	height:50px;
	background: url('../images/arrow-10-1.png');
margin-top:100%;

	background-repeat:no-repeat;
	background-size:contain;
}

.next-arrow2{
	width:50px;
	height:50px;
	background: url('../images/arrow-11-1.png');
margin-top:100%;

	background-repeat:no-repeat;
	background-size:contain;
}

.prev-arrow2:hover{
	width:50px;
	height:50px;
	background: url('../images/arrow-10-1.png');
margin-top:100%;
margin-left:-10%;
	background-repeat:no-repeat;
	background-size:contain;
}

.next-arrow2:hover{
	width:50px;
	height:50px;
	background: url('../images/arrow-11-1.png');
margin-top:100%;
margin-left:10%;
	background-repeat:no-repeat;
	background-size:contain;
}


@media(min-width:768px) {
    .page-scroll:hover{
       margin-top:-5px;
    }

    .btn-default3{
        /*margin-left:43%;*/	
    }
}

@media(max-width:768px) {
.brand{
width:75%;	
margin-top:-20px;
background-color:transparent;
}

.page-scroll{
color:rgba(255,255,255,1.00);
position:fixed;
text-align:right;
	
}

.page-scroll:hover{
margin-right:10px;
}

.navbar-header{
border-bottom:2px #AA5500 solid;
}

.navbar{
border-bottom-width:0px;	
}

.icon-bar{
color:rgba(255,0,4,1.00);	
}


.btn-menu:hover{
	opacity:.7;
	
}

}

.slogan{
    float:left;	
    font-size: 2em;    
    font-family: 'Raleway';
}

@media screen and (min-width: 320px){
    .slogan{
        width: 70%;
    } 
}

@media screen and (min-width: 375px){
    .slogan{
        width: 65%;
    } 
}

@media screen and (min-width: 392px){
    .slogan{
        width: 55%;
    } 
}

@media screen and (min-width: 456px){
    .slogan{
        width: 45%;
    } 
}

@media screen and (min-width: 500px){
    .slogan{
        width: 40%;
    } 
}

@media screen and (min-width: 585px){
    .slogan{
        width: 30%;
    } 
}

@media screen and (min-width: 769px){
    .slogan{
        width: 40%;
    } 
}

@media screen and (min-width: 894px){
    .slogan{
        width: 35%;
    } 
}

@media screen and (min-width: 1025px){
    .slogan{
        width: 30%;
    } 
}


@media screen and (min-width: 1600px){
    .slogan{
        width: 28%;
    } 
}

@media screen and (min-width: 1700px){
    .slogan{
        width: 24%;
    } 
}

@media screen and (min-width: 1900px){
    .slogan{
        width: 22%;
    } 
}

@media screen and (min-width: 2560px){
    .slogan{
        width: 16%;
    } 
}

@media screen and (width: 800px){
    .slogan{
        width: 40%;
    } 
}

.slogan-ln1{    
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 10px;
    text-align: right;
    padding-right: 40px;
}

.slogan-ln2{
    font-weight: lighter;    
    width: 100%;
    text-align: left;
    margin-right: 0px; 
    margin-top: -5px;
    margin-bottom: 10px;
     text-align: right;
    padding-right: 40px;
}

@media screen and (max-width: 768px) {
    .slogan{
        font-size: 2.5em;
    }    
    .slogan-ln1{
        font-size: 0.5em !important;
    }
    .slogan-ln2{
        font-size: 0.5em !important;
    }
}

@media screen and (min-width: 1200px) {
    .slogan{
        font-size: 2.8em
    } 
}


.caption{
    float:left;
    text-align:left;
    background: url('../images/bgtext1-07.png') no-repeat;
    width: 100%;
    background-size:contain;
    opacity:.9;
}

.linesbanner{
float:left;
position:absolute;
width:100%;
margin-top:-100px;

z-index:999;
}

.text-title3{
	margin-top:-10px;
}

.btn-default3{
	/*margin-left:28%;*/
}

.text-footer{
margin-left:25%;	
}

.logo-bindevel{
margin-left:35%;	
}

.footer-section{
    background-image: url('../images/mask-footer-owncenter.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
#life-in-center{
    margin-top: 50px;
}

#life-in-center-txt{
    padding-top: 50px;
    padding-left: 6%
}

@media screen and (max-width: 768px){
    #life-in-center-txt{
       padding-left: 2% 
    }
}


@media screen and (max-width: 980px){
    .lifeInCenter,.donationsSlick{
        max-width: 365px !important;
    }
}

@media screen and (max-width: 981px){
    .lifeInCenter,.donationsSlick{
        margin-left: 30%;
    }
}

@media screen and (min-width: 650px) and (max-width: 768px){
    .lifeInCenter,.donationsSlick{
        margin-left: 25%;
    }
}

@media screen and (min-width: 540px) and (max-width: 650px){
    .lifeInCenter,.donationsSlick{
        margin-left: 17%;
    }
}

@media screen and (min-width: 490px) and (max-width: 540px){
    .lifeInCenter,.donationsSlick{
        margin-left: 12%;
    }
}

@media screen and (min-width: 400px) and (max-width: 490px){
    .lifeInCenter,.donationsSlick{
        margin-left: 8%;
    }
}

@media screen and (max-width: 425px){
    .lifeInCenter,.donationsSlick{
        margin-left: 2%;
    }
}