{% extends "AppFrontendBundle:Sponsor:index.html.twig" %}

{% block content %}

					<!-- start Content -->
					<div id="formContent">
						<input id="IdBackRoute" type="hidden" value="{{ path('sponsor_web_home_edit') }}">


						<div class="separator"></div>
						<h4 class="glyphicons circle_plus"><i></i>Actualizar perfil</h4>
						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>
							
								<div class="row">

								<section class="col col-6">
									{{ form_row(form.name) }}
									{{ form_row(form.email) }}
									{{ form_row(form.phones) }}
									{{ form_row(form.photo) }}
								</section>

								<section class="col col-6">
									{{ form_row(form.patronageType) }}
									{{ form_row(form.amountMonthly) }}


								</div>

							<section>
								{{ form_row(form.address) }}
							</section>



								<footer>
									{{ form_widget(form.add) }}									
								</footer>

							</fieldset>
						{{ form_end(form) }}


					</div>



					<!-- End Content -->
{% endblock %}


{% block extra_js %}


	<!-- Ckeditor -->
	<script src="/Theme/Backend/js/plugin/ckeditor/ckeditor.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/adapters/jquery.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/init.js"></script>
	<!-- Ckeditor -->



	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/create.js"></script>
	<script src="/App/BackendBundle/Sponsor/js/create.js"></script>

{% endblock %}


