{% extends "AppFrontendBundle:Sponsor:index.html.twig" %}

{% block content %}

<!-- row -->
<div class="row">
    
    <input id="addChildURL" type="hidden" value="{{ path('sponsor_web_home_add_child',{ 'id':200 }) }}">

	<!-- SuperBox -->
	<div class="superbox col-sm-12">
        
        {% if ObjList.data|length > 0 %}
        
            {% for item in ObjList.data %}
        <div id="kid-{{ item.id }}" class="superbox-list">
			<img src="{{ item.photo }}" data-id="{{ item.id }}" data-img="{{ item.photo }}" data-cmd="sponsor" data-btn="{{ SponsorText }}" data-info="{{ item.introText }}" data-link="#link" alt="{{ item.biography }}" title="{{ item.name }}" class="superbox-img">
		</div>
            {% endfor %}
            
        {% endif %}
        
		<div class="superbox-float"></div>
	</div>
	<!-- /SuperBox -->
	
	<div class="superbox-show" style="height:300px; display: none"></div>

</div>
	<!-- end row -->

{% endblock %}


{% block extra_js %}

	<script src="/Theme/Backend/js/default/commands.js"></script>
    <script type="text/javascript">

        App.Commands.register(function(arg){
        
            var url = $('#addChildURL').val();
            var kid = arg.dataset.id;
            var url = url.replace(200,kid);
            
            $.ajax({  
                url: url
            }).done(function(data) {
                
                if(data.success == true){
                    $('#kid-' + kid).remove();
                } else {
                
                    if(data.message != undefined){
                        alert('Error:' + "\n" + data.message); 
                    }
                }
                
            }).fail(function() { 
                alert("error"); 
            })
            ;            
            
        },'sponsor');

        pageSetUp();

        // pagefunction
        
        var pagefunction = function() {
            
            $('.superbox').SuperBox();
            
        };
        
        // end pagefunction
        
        // run pagefunction on load

        // load bootstrap-progress bar script
        loadScript("/Theme/Backend/js/plugin/superbox/superbox.min.js", pagefunction);


    </script>
	
{% endblock %}


