{% extends "AdminCoreBundle:Default:index.html.twig" %}
{% block content %}

					<!-- start Content -->
					<div id="formContent">
						<input id="IdBackRoute" type="hidden" value="{{ path('app_backendbundle_kid_list') }}">


						<div class="separator"></div>
						<h4 class="glyphicons circle_plus"><i></i>Adicionar Niño</h4>
						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>
							
								<div class="row">

								<section class="col col-6">
									{{ form_row(form.name) }}
                                    {{ form_row(form.introText) }}
									<div class="input-append">
									
										{{ form_label(form.photo) }}
										<div class="input-group">
											{{ form_widget(form.photo) }}
											
											<div class="input-group-btn">
												
												<a href="#photoSelector" role="button" class="btn btn-primary image-selector" data-toggle="modal">
													<i class="fa fa-file-image-o"></i>
												</a>


											</div>
										</div>									
										{{ form_errors(form.photo) }}
									</div>	

									{{ form_row(form.gallery) }}
									{{ form_row(form.birthdate) }}
									{{ form_row(form.old) }}
								</section>

								<section class="col col-6">
									{{ form_row(form.dateOfReception) }}
									{{ form_row(form.timeInTheHouse) }}
									{{ form_row(form.ailments) }}


								</div>

							<section>
								{{ form_row(form.biography) }}
							</section>



								<footer>
									{{ form_widget(form.cancel) }}
									{{ form_widget(form.saveAndAddNew) }}
									{{ form_widget(form.saveAndReturnToList) }}
									{{ form_widget(form.add) }}									
								</footer>

							</fieldset>
						{{ form_end(form) }}


					</div>


			<!-- modal photo -->
			<div class="modal fade" id="photoSelector">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3>Administrador de archivos</h3>
						</div>
						<div class="modal-body">
							<iframe width="100%" height="400" src="/filemanager/dialog.php?type=1&field_id=app_backendbundle_kid_photo'&fldr=" frameborder="0" style="overflow: scroll; overflow-x: hidden; overflow-y: scroll; "></iframe>
						</div>													
					</div>
				</div>
			</div>
			<!-- end modal photo -->

					<!-- End Content -->
{% endblock %}


{% block extra_js %}


	<!-- Ckeditor -->
	<script src="/Theme/Backend/js/plugin/ckeditor/ckeditor.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/adapters/jquery.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/init.js"></script>
	<!-- Ckeditor -->



	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/create.js"></script>
	<script src="/App/BackendBundle/Kid/js/create.js"></script>
    <script src="/App/BackendBundle/Kid/js/shared.js"></script>

{% endblock %}


