{% extends "AdminCoreBundle:Default:index.html.twig" %}

{% block content %}

					<!-- start Content -->
					<div id="formContent">
						
						<input id="IdBackRoute" type="hidden" value="{{ path('app_backendbundle_kid_list') }}">

						<div class="separator"></div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="pull-lef margin-bottom-10">
									<h4>
										<span class="glyphicon glyphicon-edit"></span>&nbsp;Niño
									</h4>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="pull-right margin-bottom-10">
							{% if app.request.locale == 'es' %}
							<a class="btn btn-primary" href="{{ path('app_backendbundle_kid_edit',{ 'id': entity.id , '_locale':'en'}) }}">EN</a>
							{% else %}
							<a class="btn btn-primary" href="{{ path('app_backendbundle_kid_edit',{ 'id': entity.id , '_locale':'es' }) }}">ES</a>
							{% endif %}
								</div>
							</div>
						</div>

						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>

								<div class="row">
								<section class="col col-6">
									{{ form_row(form.name) }}
									{{ form_row(form.introText) }}
									<div class="input-append">
									
										{{ form_label(form.photo) }}
										<div class="input-group">
											{{ form_widget(form.photo) }}
											
											<div class="input-group-btn">
												
												<a href="#photoSelector" role="button" class="btn btn-primary image-selector" data-toggle="modal">
													<i class="fa fa-file-image-o"></i>
												</a>


											</div>
										</div>									
										{{ form_errors(form.photo) }}
									</div>	

									{{ form_row(form.gallery) }}
									{{ form_row(form.birthdate) }}
									{{ form_row(form.old) }}
								</section>

								<section class="col col-6">
									{{ form_row(form.dateOfReception) }}
									{{ form_row(form.timeInTheHouse) }}
									{{ form_row(form.ailments) }}
									{{ form_row(form.requirements) }}

                                    {% if entity.sponsors|length > 0 %}

                                    <div class="innerLR">
                                        <div class="row-fluid">
                                            <div class="span8">
                                                <div class="widget widget-gray widget-body-white">
                                                    <label class="label">
                                                       Listado de patrocinadores
                                                    </label>
                                                    <div class="widget-body " style="padding: 10px 0;">

                                                        {% for item in entity.sponsors %}
                                                            <a href="{{ path('app_backendbundle_sponsor_edit',{ 'id': item.id }) }}" class="btn btn-xs btn-primary">
                                                               <span class="glyphicon glyphicon-heart"></span> {{item}}
                                                            </a>
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

								</div>

							<section>
								{{ form_row(form.biography) }}
							</section>


                            <footer>
                                {{ form_widget(form.cancel) }}
                                {{ form_widget(form.saveAndAddNew) }}
                                {{ form_widget(form.saveAndReturnToList) }}
                                {{ form_widget(form.save) }}
                            </footer>


							</fieldset>
						{{ form_end(form) }}


					</div>


			<!-- modal photo -->
			<div class="modal fade" id="photoSelector">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3>Administrador de archivos</h3>
						</div>
						<div class="modal-body">
							<iframe width="100%" height="400" src="/filemanager/dialog.php?type=1&field_id=app_backendbundle_kid_photo'&fldr=" frameborder="0" style="overflow: scroll; overflow-x: hidden; overflow-y: scroll; "></iframe>
						</div>													
					</div>
				</div>
			</div>
			<!-- end modal photo -->
					
					<!-- End Content -->
{% endblock %}


{% block extra_js %}

	<!-- Ckeditor -->
	<script src="/Theme/Backend/js/plugin/ckeditor/ckeditor.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/adapters/jquery.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/init.js"></script>
	<!-- Ckeditor -->


	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/edit.js"></script>
	<script src="/App/BackendBundle/Kid/js/edit.js"></script>
	<script src="/App/BackendBundle/Kid/js/shared.js"></script>
	
{% endblock %}