{% extends "AdminCoreBundle:Default:index.html.twig" %}

{% block content %}

					<!-- start Content -->
					<div id="formContent">
						
						<input id="IdBackRoute" type="hidden" value="{{ path('app_backendbundle_menu_list') }}">

						<div class="separator"></div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="pull-lef margin-bottom-10">
									<h4>
										<span class="glyphicon glyphicon-edit"></span>&nbsp;menu
									</h4>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="pull-right margin-bottom-10">
									{% if app.request.locale == 'es' %}
									<a class="btn btn-primary" href="{{ path('app_backendbundle_menu_edit',{ 'id': entity.id , '_locale':'en'}) }}">EN</a>
									{% else %}
									<a class="btn btn-primary" href="{{ path('app_backendbundle_menu_edit',{ 'id': entity.id , '_locale':'es' }) }}">ES</a>
									{% endif %}
								</div>
							</div>
						</div>

						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>

								<div class="row">
								<section class="col col-6">
									{{ form_row(form.name) }}
									{{ form_row(form.caption) }}
									{{ form_row(form.link) }}
									{{ form_row(form.pagePosition) }}
								</section>

								<section class="col col-6">
									{{ form_row(form.icon) }}
									{{ form_widget(form.onlyDisplayIcon) }}
									{{ form_errors(form.onlyDisplayIcon) }}
									{{ form_widget(form.externalLink) }}
									{{ form_errors(form.externalLink) }}
									{{ form_widget(form.enable) }}
									{{ form_errors(form.enable) }}    
								</section>


								</div>






								<footer>
									{{ form_widget(form.cancel) }}
									{{ form_widget(form.saveAndAddNew) }}
									{{ form_widget(form.saveAndReturnToList) }}
									{{ form_widget(form.save) }}
								</footer>


							</fieldset>
						{{ form_end(form) }}


					</div>


					
					<!-- End Content -->
{% endblock %}


{% block extra_js %}

	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/edit.js"></script>
	<script src="/App/BackendBundle/Menu/js/edit.js"></script>
	<script src="/App/BackendBundle/Menu/js/shared.js"></script>
	
{% endblock %}