				<!-- Start Content -->

					<div id="content">

						<ul class="breadcrumb">
							<li><a href="index.html" class="glyphicons home"><i></i> AdminPlus</a></li>
							<li class="divider"></li>
							<li>Calendar</li>
						</ul>
						
						<div class="separator"></div>

						<div class="innerLR">
							<div class="widget widget-4">
								<div class="widget-head">
									<h3 class="heading">Calendar</h3>
								</div>
								<div class="widget-body">
									<p>AdminPlus provides a full-sized, drag &amp; drop calendar. It uses AJAX to fetch events on-the-fly for each month and is easily configured to use your own feed format, plus there's an extension provided for Google Calendar.</p>
								</div>
							</div>
						</div>

						<div class="well">
							<div class="row-fluid2">

								<div class="">
									<h3 class="glyphicons charts"><i></i> Charts</h3>
								</div>
								<div class="separator"></div>
								<br/>

							</div>
						</div>

						
					</div>

				<!-- End Content -->
