{% extends "AdminCoreBundle:Default:index.html.twig" %}

{% block content %}

<input id="statisticsUrl" type="hidden" value="{{ path('manage_statistics') }}">

<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> Informaci&oacute;n</span></h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<li class="sparks-info">
				<h5> Hoy <span id="visit-today" class="txt-color-blue">0</span></h5>
			</li>
			<li class="sparks-info">
				<h5> M&eacute;s <span id="visit-month" class="txt-color-blue">0</span></h5>
			</li>
			<li class="sparks-info">
				<h5> A&ntilde;o <span id="visit-year" class="txt-color-blue">0</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
				</div>
			</li>

		</ul>
	</div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		<article class="col-sm-12">
			<!-- new widget -->
			<div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

				<header>
					<span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
					<h2>Estadísticas</h2>

					<ul class="nav nav-tabs pull-right in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="#s1">
                                <i class="fa fa-windows"></i>
                                <span class="hidden-mobile hidden-tablet">
                                    Sistema Operativo
                                </span>
                            </a>
						</li>

						<li>
							<a data-toggle="tab" href="#s2">
                                <i class="fa fa-link"></i> 
                                <span class="hidden-mobile hidden-tablet">
                                    Navegador
                                </span>
                            </a>
						</li>

						<li>
							<a data-toggle="tab" href="#s3">
                                <i class="fa fa-tablet"></i> 
                                <span class="hidden-mobile hidden-tablet">
                                    Dispositivo
                                </span>
                            </a>
						</li>
					</ul>

				</header>

				<!-- widget div-->
				<div class="no-padding">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">

						test
					</div>
					<!-- end widget edit box -->

					<div class="widget-body">
						<!-- content -->
						<div id="myTabContent" class="tab-content">


							<!-- tab pane -->
							<div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">

								<div class="widget-body-toolbar bg-color-white smart-form" id="rev-toggles">

									<div class="btn-group hidden-phone pull-right hidden-xs">
										<a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown"><i class="fa fa-cog"></i> More <span class="caret"> </span> </a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:void(0);"><i class="fa fa-file-text-alt"></i> Export to PDF</a>
											</li>
											<li>
												<a href="javascript:void(0);"><i class="fa fa-question-sign"></i> Help</a>
											</li>
										</ul>
									</div>

								</div>

                                <div style="max-width:80%; max-height:20%">
                                    <canvas id="Chart-1" ></canvas>
                                </div>                                

                                
							</div>
							<!-- end tab pane -->
                            
							<!-- tab pane -->
							<div class="tab-pane fade" id="s2">

                                <div style="max-width:80%; max-height:20%">
                                    <canvas id="Chart-2" ></canvas>
                                </div> 
                                
							</div>
                            
							<!-- tab pane -->
							<div class="tab-pane fade" id="s3">

                                <div style="max-width:80%; max-height:20%">
                                    <canvas id="Chart-3" ></canvas>
                                </div> 
                                
							</div>
							<!-- end tab pane -->
                            
						</div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>
	</div>

	<!-- end row -->


</section>
<!-- end widget grid -->

{% endblock%}



{% block extra_js %}
    <script src="/Admin/CoreBundle/custom/dashboard.js"></script>
{% endblock%}
