<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title> Casa Hogar Niños con Fe </title>
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Frontend/fonts/font-awesome/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/smartadmin-skins.min.css">
		
		<!-- spaces -->
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/spaces.css">
		

		<!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/smartadmin-rtl.min.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/demo.min.css">

		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="/Theme/Frontend/images/logo.png" type="image/x-icon">
		<link rel="icon" href="/Theme/Frontend/images/logo.png" type="image/x-icon">

		<!-- #GOOGLE FONT 
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
        -->

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="/Theme/Backend/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/Theme/Backend/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/Theme/Backend/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/Theme/Backend/img/splash/touch-icon-ipad-retina.png">

		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="/Theme/Backend/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="/Theme/Backend/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="/Theme/Backend/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
        
		{% block extra_css %}		
		{% endblock %}	
        
    </head>

	<body class="">

		<!-- #HEADER -->
		<header id="header">
			<div id="logo-group">

				<!-- PLACE YOUR LOGO HERE -->
				<span id="logo"> <img src="/Theme/Frontend/images/logo.png" alt="SmartAdmin"> </span>
				<!-- END LOGO PLACEHOLDER -->

			</div>

			<!-- #TOGGLE LAYOUT BUTTONS -->
			<!-- pulled right: nav area -->

			<div class="pull-right">
				
				<!-- collapse menu button -->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->

				<!-- #MOBILE -->
				<!-- Top menu profile link : this shows only when top menu is active -->
				<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
					<li class="">
						<a href="{{path('admin_corebundle_user_edit',{id:app.user.id})}}" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
							<img src="/Theme/Backend/img/avatars/sunny.png" alt="John Doe" class="online" />
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Configuraci&oacute;n</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{{path('admin_corebundle_user_edit',{id:app.user.id})}}" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>erfil</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{{ path('manage_logout') }}" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>S</u>alir</strong></a>
							</li>
						</ul>
					</li>
				</ul>

				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="{{ path('manage_logout') }}" title="Salir" data-action="userLogout" data-logout-msg="Desea salir?."><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<!-- end logout button -->

				<!-- fullscreen button -->
				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
				</div>
				<!-- end fullscreen button -->

				<!-- mainPage button -->
				<div id="mainPage" class="btn-header transparent pull-right">
					<span> <a href="{{ path('web_home') }}" target="window" title="Ir a la página principal"><i class="fa fa-eye"></i></a> </span>
				</div>
				<!-- end mainPage button -->
                
			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">

			<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as is -->

					<a href="{{path('admin_corebundle_user_edit',{id:app.user.id})}}">
						<img src="{{app.user.getPhotoWebPath()}}" alt="me" class="online" />
						<span>
							{{app.user.username}}
						</span>
						<i class="fa fa-angle-down"></i>
					</a>

				</span>
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
			<nav>
				<!--
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

				<ul>
				
					<li class="">
						<a href="{{ path('manage_home') }}" title="Dashboard">
							<i class="fa fa-lg fa-fw fa-home"></i> 
							<span class="menu-item-parent">Dashboard</span>
						</a>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-lg fa-fw fa-gears"></i>
							<span class="menu-item-parent">Sistema</span>
						</a>
						<ul>

							<li>
								<a href="{{path('admin_corebundle_user_list')}}">
									<i class="fa fa-user"></i>
									Usuarios
								</a>
							</li>
							<li>
								<a href="{{path('admin_corebundle_role_list')}}">
									<i class="fa fa-key"></i>
									Roles de usuario
								</a>
							</li>
							<li>
								<a href="{{path('admin_corebundle_config_list')}}">
									<i class="fa fa-wrench"></i>
									Configuraci&oacute;n
								</a>
							</li>
                            
                            <li>
                                <a href="{{path('app_backendbundle_visitcounter_list')}}">
                                    <i class="fa fa-lg fa-fw fa-eye"></i>
                                    <span class="menu-item-parent">
                                        Contador de visitas
                                    </span>
                                </a>
                            </li>                            

						</ul>
					</li>
					

					<li>
						<a href="#">
							<i class="fa fa-lg fa-fw fa-money"></i>
							<span class="menu-item-parent">Donaciones</span>
						</a>
						<ul>

                            <li>
                                <a href="{{path('app_backendbundle_donation_list')}}">
                                    <i class="fa fa-lg fa-fw fa-dollar"></i>
                                    <span class="menu-item-parent">Histórico</span>
                                </a>
                            </li>                        
                            <li>
                                <a href="{{path('app_backendbundle_donationcurrencies_list')}}">
                                    <i class="fa fa-lg fa-fw fa-table"></i>
                                    <span class="menu-item-parent">Tipos de Moneda</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('app_backendbundle_donationqty_list')}}">
                                    <i class="fa fa-lg fa-fw fa-table"></i>
                                    <span class="menu-item-parent">Cantidades</span>
                                </a>
                            </li>

						</ul>
					</li>                      
                    
					<li>
					<a href="{{path('app_backendbundle_banner_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Banners</span>
					</a>
					</li>

					<li>
					<a href="{{path('app_backendbundle_menu_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Menus</span>
					</a>
					</li>

					<li>
					<a href="{{path('app_backendbundle_page_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Páginas</span>
					</a>
					</li>

					<li>
					<a href="{{path('app_backendbundle_kid_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Niños</span>
					</a>
					</li>

					<li>
					<a href="{{path('app_backendbundle_sponsor_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Patrocinadores</span>
					</a>
					</li>

					<li>
					<a href="{{path('app_backendbundle_requirementscatalog_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Catálogo de necesidades</span>
					</a>
					</li>

					<li>
					<a href="{{path('app_backendbundle_centercharacteristic_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Caract. del Centro</span>
					</a>
					</li>

					<li>
					<a href="{{path('app_backendbundle_centeraspiration_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Aspiraciones del Centro</span>
					</a>
					</li>

					<li>
					<a href="{{path('app_backendbundle_helperblock_list')}}">
					<i class="fa fa-lg fa-fw fa-table"></i>
					<span class="menu-item-parent">Quienes gustan ayudar</span>
					</a>
					</li>
                  

				</ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<!-- END NAVIGATION -->

		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<!-- This is auto generated -->
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right" style="margin-right:25px">
					<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</span>
					<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
					<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->

			</div>
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div id="content">
				{% block content %}
			
				{% endblock content %}			
			</div>

			<!-- END #MAIN CONTENT -->

		</div>
		<!-- END #MAIN PANEL -->

		<!-- #PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">
						Casa Hogar Niños con Fe © 2017
						{% set curr_year = "now"| date("Y") %}
						{% if  2017 < curr_year   %}
							- {{ year }}
						{% endif %}
					</span>
				</div>

			</div>
			<!-- end row -->
		</div>
		<!-- END FOOTER -->

		<!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
			 Note: These tiles are completely responsive, you can add as many as you like -->
		<div id="shortcut">
			<ul>
				<li>
					<a href="#ajax/inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
				</li>
				<li>
					<a href="#ajax/calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
				</li>
				<li>
					<a href="#ajax/gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
				</li>
				<li>
					<a href="#ajax/invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
				</li>
				<li>
					<a href="#ajax/gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
				</li>
				<li>
					<a href="{{path('admin_corebundle_user_edit',{id:app.user.id})}}" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>Mi Perfil </span> </span> </a>
				</li>
			</ul>
		</div>
		<!-- END SHORTCUT AREA -->

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="/Theme/Backend/js/plugin/pace/pace.min.js"></script>-->


		<!-- #PLUGINS -->
		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="/Theme/Backend/js/jquery.min.js"></script>
		<script>
			if (!window.jQuery) {
				document.write('<script src="/Theme/Backend/js/libs/jquery-2.0.2.min.js"><\/script>');
			}
		</script>

		<script src="/Theme/Backend/js/jquery-ui.min.js"></script>
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="/Theme/Backend/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="/Theme/Backend/js/app.config.js"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="/Theme/Backend/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

		<!-- BOOTSTRAP JS -->
		<script src="/Theme/Backend/js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="/Theme/Backend/js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="/Theme/Backend/js/smartwidgets/jarvis.widget.min.js"></script>

		<!-- EASY PIE CHARTS -->
		<script src="/Theme/Backend/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<!-- SPARKLINES -->
		<script src="/Theme/Backend/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<!-- JQUERY VALIDATE -->
		<script src="/Theme/Backend/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="/Theme/Backend/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="/Theme/Backend/js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="/Theme/Backend/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<!-- browser msie issue fix -->
		<script src="/Theme/Backend/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<!-- FastClick: For mobile devices: you can disable this in app.js -->
		<script src="/Theme/Backend/js/plugin/fastclick/fastclick.min.js"></script>

		<!--[if IE 8]>
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="/Theme/Backend/js/app.min.js"></script>

		<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
		<!-- Voice command : plugin -->
		<script src="/Theme/Backend/js/speech/voicecommand.min.js"></script>

		{% block extra_js %}		
		{% endblock %}		

	</body>

</html>