{% extends "AdminCoreBundle:Default:index.html.twig" %}

{% block content %}

					<!-- start Content -->
					<div id="formContent">
						
						<input id="IdBackRoute" type="hidden" value="{{ path('admin_corebundle_role_list') }}">

						<div class="separator"></div>
						<h4 class="glyphicons edit">
							<i></i>Editar Rol

						</h4>
						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>

								<div class="row">
								<section class="col col-6">
									{{ form_row(form.role) }}
								</section>


								</div>






								<footer>
									{{ form_widget(form.cancel) }}
									{{ form_widget(form.saveAndAddNew) }}
									{{ form_widget(form.saveAndReturnToList) }}
									{{ form_widget(form.save) }}
								</footer>


							</fieldset>
						{{ form_end(form) }}


					</div>


					
					<!-- End Content -->
{% endblock %}


{% block extra_js %}

	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/edit.js"></script>
	<script src="/Theme/Backend/Role/js/edit.js"></script>
	
{% endblock %}