<!-- banner start -->
<!-- ================ -->


<div id="banner" class="banner col-12">

        {% if Banners|length > 0 %}
                {% for banner in Banners %}
                        <!-- Slide -->
                                <input class="img-banner" type="hidden" data-src="{{ banner.getPhotoWebPath() }}" data-title="{{ banner.title }}">
                        <!-- End Slide-->
                {% endfor %}
        {% endif %}

        <div class="banner-image">
            <img id="banner-background" src="{{ asset('Theme/Frontend/images/mask.png') }}">
        </div>

        <div class="banner-caption">

            <div class="">
                <div class="caption wow bounceInLeft">
                    <div class="" >
                        <div class="slogan">
                            <p class="slogan-ln1">"ELENA SUEÑA</p>
                            <p class="slogan-ln2">SER ACTRIZ."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 </div> 

<!-- banner end -->