
							{% set frmName = '' %}
							{% if form.vars.value.name is defined %}
								{% set frmName = form.vars.value.name %}
							{% endif %}  

							{% set frmEmail = '' %}
							{% if form.vars.value.email is defined %}
								{% set frmEmail = form.vars.value.email %}
							{% endif %}

							{% set frmMessage = '' %}
							{% if form.vars.value.message is defined %}
								{% set frmMessage = form.vars.value.message %}
							{% endif %}


								<form role="form" id="footer-form" method="post">
									<div class="form-group has-feedback">
										<label class="sr-only" for="form_name">Name</label>
										<input type="text" class="form-control" id="form_name" placeholder="Name" name="form[name]" value="{{frmName}}" required>
										<i class="fa fa-user form-control-feedback"></i>
										{{ form_errors(form.name) }}
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="form_email">Email address</label>
										<input type="text" class="form-control" id="form_email" placeholder="Enter email" name="form[email]" value="{{frmEmail}}" required>
										<i class="fa fa-envelope form-control-feedback"></i>
										{{ form_errors(form.email) }}
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="form_message">Message</label>
										<textarea class="form-control" rows="8" id="form_message" placeholder="Message" name="form[message]" required>{{frmMessage}}</textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
										{{ form_errors(form.message) }}
									</div>
									<input type="button" value="{{SendText}}" id="form_send" name="form[send]" class="btn btn-default">
									{{ form_widget(form._token) }}
								</form>
