			<!-- .footer start -->
			<!-- ================ -->
			<div class="footer section">
				<div class="container">
					<h1 id="contacto" class="text-center editable-content" data-type="text" data-id="26" data-property="value" data-entity="Config" data-title="Introduzca el texto">
						{{ContactUsText | raw }}
					</h1>
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="footer-content">
								<p class="large editable-content" data-type="wysihtml5" data-id="24" data-property="value" data-entity="Config" data-title="Introduzca el texto">
									{{ContactInformationText|raw}}
								</p>
								<ul class="list-icons">
									<li>
										<i class="fa fa-map-marker pr-10"></i> 
										<span class="editable-content" data-type="text" data-id="7" data-property="value" data-entity="Config" data-title="Introduzca el texto">
											{{SiteAddress | raw }}
										</span>
									</li>
									<li>
										<i class="fa fa-phone pr-10"></i>
										<span class="editable-content" data-type="text" data-id="8" data-property="value" data-entity="Config" data-title="Introduzca el texto">
											{{SitePhone | raw }}
										</span>										   
									</li>
									<li>
										<i class="fa fa-fax pr-10"></i>
										<span class="editable-content" data-type="text" data-id="9" data-property="value" data-entity="Config" data-title="Introduzca el texto">
											{{SitePBX | raw }}
										</span>										   
									</li>
									<li>
										<i class="fa fa-envelope-o pr-10"></i>
										<span class="editable-content" data-type="text" data-id="10" data-property="value" data-entity="Config" data-title="Introduzca el texto">
											{{SiteMainEmail | raw }}
										</span>										   
									</li>
								</ul>
								{% include 'AppFrontendBundle:Default:social-links.html.twig' %}
							</div>
						</div>
						
						
						
						<div class="col-sm-6">

							<input id="submit_contact_info" type="hidden" value="{{ path('submit_contact_info',{ '_locale': app.request.getLocale() }) }}">
							<div id="contact-form-container" class="footer-content">
								{% include 'AppFrontendBundle:Default:contact-form.html.twig' %}
							</div>

						</div>

					</div>
				</div>
			</div>
			<!-- .footer end -->