{% extends 'AppFrontendBundle:Default:index.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    
    <!--
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">
    -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/Theme/Frontend/css/donate.css">

{% endblock %}

{% block body %}

        {% include 'AppFrontendBundle:Default:header.html.twig' %}

        
        <!-- Start Form -->
        <div class="outer-margin" align="center">
          <div class="container">
            <h4>{{ PayPalDonateText }}</h4>
            <form action="{{ path('processDonation') }}" method="post" name="paypal" id="paypal" autocomplete="off">
              <!-- You can replace _donations with _xclick if wished -->
              <input type="hidden" name="cmd" value="_donations">
              <!--
              <input type="hidden" name="bn" value="webassist.dreamweaver.4_5_0">
              -->
              <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest" />
        
              <!--Change this to your PayPal Email Address -->
              <input type="hidden" name="business" value="-">
              <!--Change this to your PayPal Email Address -->
              <input type="hidden" name="receiver_email" value="-">
              <input type="hidden" name="item_name" value="Donation">
              <div>
                <label class="control-label" for="amount">{{ PayPalAmountText }}</label>
                <!-- Start Amount Radio Buttons -->
                <div style="margin-bottom:10px;">
                  <input type="radio" name="enter" value="" checked="checked" style="margin-top:-3px; margin-left:2px;">
                  <span id="font">{{ PayPalOwnText }}</span>
                  
                  {% for qty in Qtys %}
                  <input type="radio" name="enter" value="{{ qty.value }}" style="margin-top:-3px; margin-left:5px;">
                  <span id="font">{{ qty.value | number_format(2) }}</span>
                  {% endfor %}
                  
                <!-- End Amount Radio Buttons -->
                <div class="input-row">
                <div class="inputGroupContainer">
                  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    <input type="text" name="amount" id="amount" value="{{ amountMonthly }}" maxlength="10" class="form-control" placeholder="{{ AmountText }}" onKeyPress="return restrictChars(event, this)">
                  </div>
                  <label style="color:red; font-weight:normal;" class="error" for="amount" generated="true"></label>
                </div>
              </div>
              </div>
              <div style="display:block; min-height:85px;">
                <label class="control-label" for="currency_code">{{ PayPalSelectCurrText }}</label>
                <div class="inputGroupContainer">
                  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    <select name="currency_code" class="form-control">
                      <option value="" selected="selected">- {{ PayPalSelectText }} -</option>
                      {% for citem in Currencies %}
                      <!-- Add or Remove currencies as required -->
                      <option value="{{ citem.type }}">{{ citem.label }}</option>
                      {% endfor %}

                    </select>
                  </div>
                  <label style="color:red; font-weight:normal;" class="error" for="currency_code" generated="true"></label>
                </div>
              </div>

              <!--Change this to your return page -->
              <input type="hidden" name="return" value="thankyou.php">
              <input type="hidden" name="notify_url" value="ipn.php">
              <!--Change this to your cancel page -->
              <input type="hidden" name="cancel_return" value="http://www.yourwebsite.com">
              
              <!-- Signifies that the transaction data will be
                passed to the return page by POST: -->

              <input type="hidden" name="rm" value="2" /> 
        
              <!-- no_shipping 
            0 prompt for an address, but do not require. 
            1  do not prompt for an address. 
            2 prompt for an address and require one, needed for gift aid.
             -->
              <input type="hidden" name="no_shipping" value="1">
              <input type="hidden" name="no_note" value="0">
              <div class="input-row" style="margin-top:-10px;">
                <!-- For blue button change btn-default to btn-primary - You can remove button width:100%; to standard size -->
                <input type="submit" value="{{ PayPalBtnDonationText }}" class="btn btn-default">
               <div> 
                 <img src="/Theme/Frontend/images/paypal-and-credit-cards1.gif" alt="PayPal Cards" style="margin:auto; max-width:320px; width:100%; margin-top:10px;">       </div>
              </div>
            </form>
            <!-- Do not remove this | Licenced for private and commersal use | Created by Neil Cooper -->
          </div>
        </div>
        <!-- End Form -->


{% endblock %}

{% block javascript %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/additional-methods.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" type="text/javascript"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js" type="text/javascript"></script>
        <script src='//www.google.com/recaptcha/api.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/Theme/Frontend/js/donate.js"></script>

{% endblock %}


