		<!-- section start -->
		<!-- ================ -->
                <div id="donations" class="section translucent-bg bg-image-2 pb-clear translucent-bg2 blue2">		 
			<div class="container object-non-visible" data-animation-effect="fadeIn">
			
			<!-- section start -->
			<!-- ================ -->
			<div class="section clearfix object-non-visible new-section" data-animation-effect="fadeIn">
				<div class="">
					<div class="">
						<div class="col-md-12">
							<h1 id="donativo" class="title text-center title3-2">
								<p class="text-title3 editable-content" data-type="text" data-id="18" data-property="value" data-entity="Config" data-title="Introduzca el texto">
									{{DonationText | raw }}
								</p>
							</h1>
							<p class="lead leadcolor3 text-center editable-content" data-type="text" data-id="19" data-property="value" data-entity="Config" data-title="Introduzca el texto">
								{{DonationSubtitleText | raw }}
							</p>
							<div class="space"></div>
							<div class="row">
							
								<div class="col-md-6 editable-content" data-type="wysihtml5" data-id="20" data-property="value" data-entity="Config" data-title="Introduzca el texto">
									{{DonationDescriptionText|raw}}
								</div>

								<div class="donationsSlick slider col-sm-12 col-md-4 col-lg-4">

									{% for kid in randkids2 %}
									<div class="image-box">
										<div>
											<img class="img-gallery-01" src="{{ kid.photo }}" alt="" />
										</div>
									</div>
									{% endfor %}

								</div> 
{#<a href="{{ path('fos_user_registration_register') }}" class="btn btn-md btn-default">
                                {{RegisterText | raw }}#}
                            </a>


							</div>
							<div class="space"></div>
						</div>
					</div>
				</div>
			</div>
		<!-- section end -->
			
				<h1	 class="title text-center title4">
					<p class="text-title4 editable-content" data-type="text" data-id="21" data-property="value" data-entity="Config" data-title="Introduzca el texto">
						{{WhoHelpText | raw }}
					</p>
				</h1>
				<div class="space"></div>
				
				<div class="row">
					{% for item in HelperBlocks%}
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img class="icon-people" src="{{ asset('/Theme/Frontend/images/icon-people.png') }}" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading editable-content" data-type="text" data-id="{{ item.id }}" data-property="title" data-entity="HelperBlock" data-title="Introduzca el texto">{{item.title}}</h3>
								<blockquote>
									<p class="editable-content" data-type="wysihtml5" data-id="{{ item.id }}" data-property="content" data-entity="HelperBlock" data-title="Introduzca el texto">
										{{item.content | raw }}
									</p>
									<footer class="editable-content" data-type="text" data-id="{{ item.id }}" data-property="subtitle" data-entity="HelperBlock" data-title="Introduzca el texto">
										{{item.subtitle | raw }}
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
                    {% endfor %}
				 
					
				</div>
				
				
			</div>
                    </div>
			<!-- section start -->
			<!-- ================ -->
			<div class="blue2 footer-section">
				<div class="container">
					<div class="list-horizontal">
						<div class="row text-center">

							<h1 class="text-center editable-content" style="color: #FFF" data-type="text" data-id="22" data-property="value" data-entity="Config" data-title="Introduzca el texto">
								{{AllCanBePartText | raw }}
							</h1>

							{% if not is_granted('ROLE_USER') %} 
							<a href="{{ path('fos_user_registration_register') }}" class="btn btn-md btn-default">
								{{RegisterText | raw }}
							</a>
							{% endif %}                            
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->
		
		<!-- section end -->
