        <!-- footer start -->
		<!-- ================ -->
		<footer id="footer">

		{% if content is not defined %}
			{% include 'AppFrontendBundle:Default:contact.html.twig' %}
		{% endif %}

			<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center text-footer">Copyright &copy; 2017 Develop by</p><a class="" target="_blank" href="http://bindevel.com">&nbsp;&nbsp;<img class="logo-bindevel text-center" src="{{ asset('/Theme/Frontend/images/bindevel-logo.png') }}"></a >
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->