		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="btn-menu navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

					</button>
					<a id="logo" class="page-scroll" href="#page-top">
						<img class="brand" src="{{ asset('Theme/Frontend/images/logo.png') }}">
                    </a> 
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menufix container-fluid text-left" id="bs-example-navbar-collapse-1">
                                           
					<ul id="top-menu" class="nav navbar-nav text-center">

					{% if TopMenu|length > 0 %}
                                                {% set count = 1 %}
						{% for menu in TopMenu %}

							{% set Link = menu.link %}
                            
                                                        {% if Link matches '/^#.*/' %}
                                                            {% set Link = path('web_home') ~ Link %}
                                                        {% endif %}  
							
							{% set target = '' %}
							{% if menu.externalLink %}
								{% set target = 'target="_blank"' %}
							{% endif %}                                                        
                                                            <!-- {{menu.name}} --> 
                                                                {% if (menu.onlyDisplayIcon) and (menu.icon != '') and (menu.icon != '-') %}
                                                                    <li class="hoverSelector">
                                                                            <a {{target}} href="{{Link}}" title="{{menu.caption}}">
                                                                                    <i class="fa {{menu.icon}}"></i>
                                                                            </a>
                                                                    </li>
                                                                {% else %}

                                                                        {% if (menu.icon != '') and (menu.icon != '-') %}
                                                                                        <li>
                                                                                                <a target="_top" href="{{Link}}" data-original-title="{{menu.caption}}">
                                                                                                        <i class="fa {{menu.icon}}"></i>&nbsp;{{menu.caption}}
                                                                                                </a>
                                                                                        </li>
                                                                        {% else %}
                                                                                        <li>
                                                                                                <a href="{{Link}}">{{menu.caption}}</a>
                                                                                        </li>
                                                                        {% endif %}

                                                                {% endif %}

                                                                    {% if not loop.last %}
{#                                                                        <li class="topbar-devider"></li>           #}
                                                                    {% endif %}                         
                                                        
                                                            <!-- End {{menu.name}} --> 
						{% endfor %}
						<li>
							<a href="{{ path('donate') }}">
								Donar 
							</a>
						</li>
                                                {% if is_granted('ROLE_SPONSOR') %} 
                                                                        <li>
                                                        <a href="{{ path('sponsor_web_home') }}">
                                                            {{ ProfileText }}
                                                        </a>                            
                                                                        </li>                        
                                                {% endif %}                        
                                                <li>
                                                    {% if is_granted('ROLE_SPONSOR') %} 
                                                        <a href="{{ path('fos_user_security_logout') }}">
                                                            {{ 'layout.logout'| trans({}, 'FOSUserBundle') }}
                                                        </a>
                                                    {% elseif is_granted('ROLE_ADMIN') %}
                                                        <a href="{{ path('manage_logout') }}">
                                                            {{ 'layout.logout'| trans({}, 'FOSUserBundle') }}
                                                        </a>                            
                                                    {% else %} 
                                                        <a href="{{ path('fos_user_security_login') }}">
                                                            {{ 'layout.login'| trans({}, 'FOSUserBundle') }}
                                                        </a>                              
                                                    {% endif %} 
                                                </li>
                                                    <li style="width: 50px; float: right;">
														<a href="{{ path('web_home',{'_locale':Locale}) }}">
																<img src="{{ asset('Theme/Frontend/images/flags/') }}{{Locale}}.png" alt="Locale:{{Locale}}">
														</a>
                                                    </li>
                                                 {% endif %}
				
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
		<!-- header end -->