<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

{% if AppLocale == 'es' %}
	{% set Locale = 'en' %}
{% else %}
	{% set Locale = 'es' %}
{% endif %}

<html lang="{{Locale}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
	<title>
            {% block title %}
                {{SiteTitle}}
            {% endblock %}        
        </title>
		<meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

{% block stylesheets %}

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/Theme/Frontend/images/logo.png">

		<!-- Web Fonts -->
{#		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>#}
{#		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>#}

		<!-- Bootstrap core CSS -->
		<link href="{{ asset('Theme/Frontend/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
		
		<!-- Bootstrap responsive CSS -->
		<link href="{{ asset('Theme/Frontend/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
		
		<!-- Bootstrap MD anims -->
		<link href="{{ asset('Theme/Frontend/bootstrap/css/mdb-anims.css') }}" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="{{ asset('Theme/Frontend/fonts/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

		<!-- Slider -->
		<link href="{{ asset('Theme/Frontend/css/slick.css') }}" rel="stylesheet">

		<!-- Slider -->
		<link href="{{ asset('Theme/Frontend/css/slick-theme.css') }}" rel="stylesheet">

		<!-- Plugins -->
		<link href="{{ asset('Theme/Frontend/css/animations.css') }}" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="{{ asset('Theme/Frontend/css/style.css') }}" rel="stylesheet">

		<!-- Custom css --> 
		<link href="{{ asset('Theme/Frontend/css/custom.css') }}" rel="stylesheet">
        
		<!-- Main Custom css -->
		<link rel="stylesheet" type="text/css" href="{{ asset('Theme/Frontend/css/main_style.css') }}">

		{% if is_granted('ROLE_ADMIN') %} 

		{% endif %}

{% endblock %}

	
	</head>

	<body class="no-trans">

        {% if is_granted('ROLE_ADMIN') %} 
            <input id="is_admin" type="hidden">
        {% endif %}

{% block body %}

        {% if formFail %} 
            <input id="for_fail" type="hidden">
        {% endif %}

        {% include 'AppFrontendBundle:Default:header.html.twig' %}
        {% include 'AppFrontendBundle:Default:banner.html.twig' %}
        {% include 'AppFrontendBundle:Default:lifegallery.html.twig' %}
        {% include 'AppFrontendBundle:Default:owncenter.html.twig' %}
        {% include 'AppFrontendBundle:Default:lifeInCenter.html.twig' %}
        {% include 'AppFrontendBundle:Default:donations.html.twig' %}
        {% include 'AppFrontendBundle:Default:footer.html.twig' %}

{% endblock %}


{% block javascript %}

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/plugins/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('Theme/Frontend/bootstrap/js/bootstrap.min.js') }}"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/plugins/modernizr.js') }}"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/plugins/isotope/isotope.pkgd.min.js') }}"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/plugins/jquery.backstretch.min.js') }}"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/plugins/jquery.appear.js') }}"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/js/template.js') }}"></script>
		<script type="text/javascript" src="{{ asset('Theme/Frontend/js/banner.js') }}"></script>
        
		<!-- Plugin UnSlider -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/plugins/slick.js') }}"></script>
      

		<!-- WOW Scripts -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/bootstrap/js/wow.min.js') }}"></script>
				
		<!-- Custom Scripts -->
		<script type="text/javascript" src="{{ asset('Theme/Frontend/js/custom.js') }}"></script>

		<script type="text/javascript" src="/Theme/Frontend/js/contact.js"></script> 

        {% if is_granted('ROLE_ADMIN') %} 

		<!-- Admin --->

		<!-- wysihtml5 editor-->
		<script src="/Theme/FrontendAdmin/ckeditor/ckeditor.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="/Theme/Frontend/js/editable.js"></script> 
        
        {% endif %} .		

{% endblock %}

		
	</body>
</html>
