		<!-- section start -->
		<!-- ================ -->
		<div id="life-in-center" class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="">
				<div class="">
					<div class="col-md-12">
						<h1 id="about" class="title text-center title3">
							<p class="text-title editable-content" data-type="text" data-id="13" data-property="value" data-entity="Config" data-title="Introduzca el texto">
								{{LifeInCenterText | raw }}
							</p>
						</h1>
						<p class="lead leadcolor2 text-center blue editable-content" data-type="text" data-id="14" data-property="value" data-entity="Config" data-title="Introduzca el texto">
							{{LifeInCenterSubtitleText | raw }}
						</p>

						{% if randkids1 | length > 0 %}
						<div id="life-in-center-container" class="col-12">
							<div class="col-md-1 col-lg-1"></div>

							<div class="lifeInCenter slider col-sm-12 col-md-4 col-lg-4">

								{% for kid in randkids1 %}
								<div class="image-box">
									<div>
										<img class="img-gallery-01" src="{{ asset('Theme/Frontend/images/mask-gallery-1.png') }}" alt="" style="background-image: url('{{ kid.photo }}');" />
									</div>
								</div>
								{% endfor %}

							</div>

							<div id="life-in-center-txt" class="col-sm-12 col-md-6 col-lg-6 editable-content" data-type="wysihtml5" data-id="15" data-property="value" data-entity="Config" data-title="Introduzca el texto">
								{{LifeInCenterDescriptionText|raw}}
							</div>
						</div>
						{% endif %}
						
						<div class="space"></div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<h2 style="color:#339BEB" class="editable-content" data-type="text" data-id="16" data-property="value" data-entity="Config" data-title="Introduzca el texto">
									{{AspirationText | raw }}
							</h2>

							<div class="row">
									<div class="col-md-6 editable-content" data-type="wysihtml5" data-id="17" data-property="value" data-entity="Config" data-title="Introduzca el texto">
											{{AspirationDescriptionText|raw}}
									</div>
									<div class="col-md-6">
										<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

											{% for item in Aspirations%} 
											<div class="panel panel-default">
													<div class="panel-heading" role="tab" id="heading-{{ loop.index }}">
															<h4 class="panel-title">
																	<a {% if not loop.first %} class="collapsed" {% endif %} data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
																			{{item.title}}
																	</a>
															</h4>
													</div>
													<div id="collapse-{{ loop.index }}" class="panel-collapse collapse {% if loop.first %} in {% endif %}" role="tabpanel" aria-labelledby="heading-{{ loop.index }}">
															<div class="panel-body editable-content" data-type="wysihtml5" data-id="{{ item.id }}" data-property="description" data-entity="CenterAspiration" data-title="Introduzca el texto">
																	{{item.description|raw}}
															</div>
													</div>
											</div>
											{% endfor %}

										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->