<!-- section start -->
		<!-- ================ -->
                <div id="gallery01" class="section" >
			<div class="container">
				<h1 class="text-center title title1" id="galeriavida">
					<p class="text-title editable-content" data-type="text" data-id="2" data-property="value" data-entity="Config" data-title="Introduzca el texto">
						{{OwnInfantText | raw}}
					</p>
				</h1>
			   
				<div class="separator"></div>
				<p class=" lead leadcolor1 text-center editable-content" data-type="wysihtml5" data-id="3" data-property="value" data-entity="Config" data-title="Introduzca el texto">
					{{OwnInfantSubtitleText|raw}}
				</p>
				<br>	                                
				<div class="row object-non-visible" data-animation-effect="fadeIn">
					<div class="col-md-12">

						<!-- isotope filters start -->
						{#<div class="filters text-center">
							<ul class="nav nav-pills">
								<li class="active"><a href="#" data-filter="*">{{AllText}}</a></li>
								<li><a href="#" data-filter=".con-patrocinio">{{ WithSponsorText }}</a></li>
								<li><a href="#" data-filter=".sin-patrocinio">{{ WithoutSponsorText }}</a></li>
								
							</ul>
						</div>#}
						<!-- isotope filters end -->

						<!-- portfolio items start -->
						<div class="life slider">

							{% for kid in kids %}

								{% set cssClass = 'sin-patrocinio' %}
								{% set text = WithoutSponsorText %}
								
								{% if kid.sponsors.count() > 0 %}
									{% set cssClass = 'con-patrocinio' %}
									{% set text = WithSponsorText %}								
								{% endif %}

							<div class="col-sm-12">
								<div class="image-box">
									<div class="overlay-container">
										<img class="img-gallery-01" src="{{ asset('Theme/Frontend/images/mask-gallery-1.png') }}" alt="" style="background-image: url('{#{ asset('') }#}{{ kid.photo }}')">
										<a class="overlay" data-toggle="modal" data-target="#kid-{{ kid.id }}">
											<i class="fa fa-search-plus"></i>
											<span>{{text}}</span>
										</a>
									</div>
									<a class="btn-gallery-1 btn btn-default2 btn-block" data-toggle="modal" data-target="#kid-{{ kid.id }}">{{ kid.name }}</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="kid-{{ kid.id }}" tabindex="-1" role="dialog" aria-labelledby="kid-{{ kid.id }}-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title editable-content" id="kid-{{ kid.id }}-label" data-id="{{ kid.id }}" data-property="name" data-entity="Kid">{{ kid.name | raw }}</h4>
											</div>
											<div class="modal-body">
												<h3 class="editable-content" data-id="{{ kid.id }}" data-property="introText" data-entity="Kid">
													{{ kid.introText | raw }}
												</h3>
												<div class="row">
													<div class="col-md-6 editable-content" data-id="{{ kid.id }}" data-property="biography" data-entity="Kid">
														 {{ kid.biography | raw }}
													</div>
													<div class="col-md-6">
														<img src="{{ kid.photo }}" alt="">
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default4" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							</div>
							{% endfor %}

						</div>
						<!-- portfolio items end -->
					
					</div>
				</div>
			</div>
		</div>                                       
		<!-- section end -->
