<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-1 blue">
			<div class="container object-non-visible" data-animation-effect="fadeIn" data-animation-delay='1s'>
				<h1 id="quienessomos"  class="text-center title title2">
					<p class="text-title2 editable-content" data-type="text" data-id="11" data-property="value" data-entity="Config" data-title="Introduzca el texto">
						{{OwnCenterText | raw }}
				   </p>
				</h1>
				<div class="space"></div>
				<div class="row">
					<div class="col-sm-6">

					{% for item in Characteristics %}
						{% if loop.index is even %}
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading editable-content" data-type="text" data-id="{{ item.id }}" data-property="title" data-entity="CenterCharacteristic" data-title="Introduzca el texto">{{item.title}}</h4>
								<p class="editable-content" data-type="wysihtml5" data-id="{{ item.id }}" data-property="content" data-entity="CenterCharacteristic" data-title="Introduzca el texto">
									{{item.content|raw}}
								</p>
							</div>
							<div class="media-right">
								<i class="fa {{item.icon}}"></i>
							</div>
						</div>
						{% endif %}
					{% endfor %}

					</div>
					<div class="space visible-xs"></div>
					<div class="col-sm-6">
					
					{% for item in Characteristics %}
						{% if loop.index is odd %}
						<div class="media">
							<div class="media-left">
								<i class="fa {{item.icon}}"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading editable-content" data-type="text" data-id="{{ item.id }}" data-property="title" data-entity="CenterCharacteristic" data-title="Introduzca el texto">{{item.title}}</h4>
								<p class="editable-content" data-type="wysihtml5" data-id="{{ item.id }}" data-property="content" data-entity="CenterCharacteristic" data-title="Introduzca el texto">
									{{item.content|raw}}
								</p>
							</div>
						</div>						  
						{% endif %}
					{% endfor %}

					</div>
				</div>
			</div>
		</div>
		<!-- section end -->
        
		<!-- section start -->
		<!-- ================ -->
		<div class="default-bg space blue footer-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center editable-content" data-type="text" data-id="12" data-property="value" data-entity="Config" data-title="Introduzca el texto">
							{{OwnCenterSubtitleText | raw }}
						</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->