{% extends 'AppFrontendBundle:Default:index.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block body %}

        {% include 'AppFrontendBundle:Default:header.html.twig' %}
        {% include 'AppFrontendBundle:Default:banner.html.twig' %}

		<div id="life-in-center" class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="">
				<div class="">
					<div class="col-md-12">
						<h1 id="about" class="title text-center title3">
							<p class="text-title editable-content" data-type="text" data-id="{{ article.getId() }}" data-property="title" data-entity="Page" data-title="Introduzca el texto">
								{{ article.getTitle() | raw }}
							</p>
						</h1>
						<div class="editable-content" data-type="wysihtml5" data-id="{{ article.getId() }}" data-property="content" data-entity="Page" data-title="Introduzca el texto">
							{{content|raw}}
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include 'AppFrontendBundle:Default:footer.html.twig' %}

{% endblock %}

{% block javascript %}
	{{ parent() }}
{% endblock %}


