{% if BottomMenu | length > 0  %}
	<ul class="social-links">
	{% for menu in BottomMenu %}
		<li class="facebook">
			<a target="_blank" href="{{menu.link}}">
				<i class="fa {{menu.icon}}"></i>
			</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
