{% extends 'AppFrontendBundle:Default:index.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    
    <!--
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">
    -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/Theme/Frontend/css/donate.css">

{% endblock %}

{% block body %}

        {% include 'AppFrontendBundle:Default:header.html.twig' %}

        
        <div class="row">
            <div class="col-md-10" style="height:100px;">&nbsp</div>
        </div>
        
        <div class="row">
            <div class="col-md-4">&nbsp</div>
            <div class="col-md-4">
                <div class="alert alert-success" role="alert">
                   {{ PayPalThanksText }}
                </div>             
            </div>        
            <div class="col-md-4">&nbsp</div>
        </div>
       

{% endblock %}

{% block javascript %}


{% endblock %}


