

        <div class="panel-body">
      
            <div class="row">
      
                <div class="col-md-5" >
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-lg btn-primary btn-block">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </a>
                    <br/>
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-lg btn-danger btn-block">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                        Google+                        
                    </a>
                    <br/>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {{ 'security.login.submit'| trans({}, 'FOSUserBundle') }}                        
                    </a>
                    <br/>
                </div>

                <div class="col-md-5" style="border-left:1px solid #ccc;">
                    <div style="margin-left:10%;">
                        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                            
                              {{ form_row(form.username) }}
                              {{ form_row(form.email) }}
                              {{ form_row(form.plainPassword) }}
                              {{ form_widget(form) }}
                              
                              <div class="spacing">
                              </div>
                              <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-info btn-sm pull-right" />


                            
                        </form>
                    </div>
                </div>
        
            </div>
        
        </div>
