{% extends "FOSUserBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}

    {{ 'registration.submit'| trans({}, 'FOSUserBundle') }}    
    
{% endblock title %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
