
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">

   
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="{{ 'form.username'|trans({}, 'FOSUserBundle') }}" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" name="fos_user_registration_form[email]" required="required" class="form-control" placeholder="{{ 'form.email'|trans({}, 'FOSUserBundle') }}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="fos_user_registration_form[plainPassword][first]" required="required" class="form-control" placeholder="{{ 'form.password'|trans({}, 'FOSUserBundle') }}">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="fos_user_registration_form[plainPassword][second]" required="required" class="form-control" placeholder="{{ 'form.password_confirmation'|trans({}, 'FOSUserBundle') }}">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      
      <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{csrf_token('registration')}}">

      <div class="row">
        <!-- /.col -->
        <div class="col-md-4">
          <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-block btn-flat" />          
        </div>
        <!-- /.col -->
      </div>


    </form>


    <div class="social-auth-links text-center">
      <hr>
      
      <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-block btn-social btn-facebook btn-flat">
        <i class="fa fa-facebook"></i> 
            Facebook
      </a>
      
      <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-block btn-social btn-google btn-flat">
        <i class="fa fa-google-plus"></i> 
            Google+
      </a>

      <a href="{{ path('fos_user_security_login') }}" class="btn btn-block btn-social btn-default btn-flat">
        <i class="fa fa-user"></i> 
            {{ 'security.login.submit'| trans({}, 'FOSUserBundle') }}
      </a>

    </div>
    <!-- /.social-auth-links -->
    
    


