<!DOCTYPE html>
<html lang="en-us" id="extr-page">
	<head>
		<meta charset="utf-8">
		<title>Area de administraci&oacute;n</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/font-awesome.min.css">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/smartadmin-skins.min.css">

		<!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/smartadmin-rtl.min.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="/Theme/Backend/css/demo.min.css">

		<!-- #FAVICONS -->
		<link rel="shortcut icon"  href="/Theme/Backend/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon"  href="/Theme/Backend/img/favicon/favicon.ico" type="image/x-icon">

		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon"  href="/Theme/Backend/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76"  href="/Theme/Backend/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120"  href="/Theme/Backend/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152"  href="/Theme/Backend/img/splash/touch-icon-ipad-retina.png">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image"  href="/Theme/Backend/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image"  href="/Theme/Backend/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image"  href="/Theme/Backend/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

	</head>
	
	<body class="animated fadeInDown">

		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" class="container">

				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<div class="well no-padding">
							<form method="post" action="{{ path('manage_login_check') }}" id="login-form" class="smart-form client-form">
								<header>
									Administraci&oacute;n
								</header>

								<fieldset>
									
									<section>
										<label class="label">Usuario</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<input type="input" name="_username" value="{{ last_username }}">
											<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
									</section>

									<section>
										<label class="label">Contrase&ntilde;a</label>
										<label class="input"> <i class="icon-append fa fa-lock"></i>
											<input type="password" name="_password">
											<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
									</section>
									
									{% if error %}
									<section>
										<span class="text-danger" style='width:100%'>
											{{ error.message }}.
										</span>	 
									</section>
									{% endif %}	

								</fieldset>
								<footer>
									<button type="submit" class="btn btn-primary">
										Entrar
									</button>
								</footer>
							</form>

						</div>
						
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>

		</div>

		<!--================================================== -->	

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="/Theme/Backend/js/plugin/pace/pace.min.js"></script>

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="/Theme/Backend/js/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="/Theme/Backend/js/libs/jquery-2.0.2.min.js"><\/script>');} </script>

	    <script src="/Theme/Backend/js/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="/Theme/Backend/js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="/Theme/Backend/js/app.config.js"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
		<script src="/Theme/Backend/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->		
		<script src="/Theme/Backend/js/bootstrap/bootstrap.min.js"></script>

		<!-- JQUERY VALIDATE -->
		<script src="/Theme/Backend/js/plugin/jquery-validate/jquery.validate.min.js"></script>
		
		<!-- JQUERY MASKED INPUT -->
		<script src="/Theme/Backend/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
		
		<!--[if IE 8]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="/Theme/Backend/js/app.min.js"></script>

		<script type="text/javascript">
			runAllForms();

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						_username : {
							required : true,
							//email : true
						},
						_password : {
							required : true,
							//minlength : 3,
							//maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						email : {
							required : 'Please enter your email address',
							email : 'Please enter a VALID email address'
						},
						password : {
							required : 'Please enter your password'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
		</script>
	</body>
</html>