{% extends "AdminCoreBundle:Default:index.html.twig" %}
{% block content %}

					<!-- start Content -->
					<div id="formContent">
						<input id="IdBackRoute" type="hidden" value="{{ path('admin_corebundle_config_list') }}">


						<div class="separator"></div>
						<h4 class="glyphicons circle_plus"><i></i>Adicionar variable</h4>
						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>
							
								<div class="row">

								<section class="col col-6">
									{{ form_row(form.varname) }}
								</section>

								<section class="col col-6">
									{{ form_row(form.type) }}
								</section>



								</div>

							<section>
								{{ form_row(form.value) }}
							</section>
                            <br/>
                            <section class="col-12">
                                &nbsp;
							</section>

								<footer>
									{{ form_widget(form.cancel) }}
									{{ form_widget(form.saveAndAddNew) }}
									{{ form_widget(form.saveAndReturnToList) }}
									{{ form_widget(form.add) }}									
								</footer>

							</fieldset>
						{{ form_end(form) }}


					</div>



					<!-- End Content -->
{% endblock %}


{% block extra_js %}


	<!-- Ckeditor -->
	<script src="/Theme/Backend/js/plugin/ckeditor/ckeditor.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/adapters/jquery.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/init.js"></script>
	<!-- Ckeditor -->



	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Admin/CoreBundle/Config/js/create.js"></script>
	<script src="/Admin/CoreBundle/Config/js/shared.js"></script>

{% endblock %}


