{% extends "AdminCoreBundle:Default:index.html.twig" %}

{% block content %}

					<!-- start Content -->
					<div id="content">

						<input id="IdRouteNameSpace" type="hidden" value="/manage/config">

						<ul class="breadcrumb">
							<li><a href="{{ path('manage_home') }}" class="glyphicons home"><i></i> Admin</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('admin_corebundle_config_list') }}" id="backBtn" class="glyphicons table"><i></i> Configuración</a></li>
							<li class="divider"></li>
							<li>Adicionar</li>
						</ul>

						<div class="separator"></div>
						<h4 class="glyphicons circle_plus"><i></i>Adicionar Variable</h4>
						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}

						<div class="row-fluid">

								<div class="span4">
									<br/>
									{{ form_row(form.varname) }}
								</div>

								<div class="span4">
									<br/>
									{{ form_row(form.type) }}
								</div>



						</div>

						<div class="row-fluid">
							<div class="span10">
								{{ form_row(form.value) }}
							</div>
						</div>


						<div class="form-actions">
							{{ form_widget(form.add) }}
							{{ form_widget(form.saveAndReturnToList) }}
							{{ form_widget(form.saveAndAddNew) }}
							{{ form_widget(form.cancel) }}
						</div>

							{{ form_end(form) }}


					</div>

					<!-- End Content -->
{% endblock %}



{% block extra_js %}

	{{ parent() }}
    
	<!-- Bootstrap Extended -->
	<script src="/Theme/Backend/js/plugin/ckeditor/ckeditor.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/adapters/jquery.js"></script>
	<script src="/Theme/Backend/js/plugin/ckeditor/init.js"></script>
    
    <script src="/Admin/CoreBundle/Config/js/create.js"></script>
    <script src="/Admin/CoreBundle/Config/js/shared.js"></script>

{% endblock %}