{% extends "AdminCoreBundle:Default:index.html.twig" %}
{% block content %}

{% if ObjList.success %}

	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right margin-bottom-10">
				<a href="{{ path('app_backendbundle_centeraspiration_create') }}" class="btn btn-primary">
					<i class="glyphicon glyphicon-ok"></i> Adicionar Aspiración
				</a>
				<button type="button" id="delBtn" class="btn btn-danger"  data-toggle="modal" data-target="#confirmDelete">
					<i class="glyphicon glyphicon-fire"></i>&nbsp;Eliminar
				</button>
			</div>
		</div>
	</div>

	{% if ObjList.data|length > 0 %}

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<!-- WIDGET START -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-CenterAspiration" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
			
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Aspiraciones del Centro </h2>
				</header>			

				<!-- widget div-->
				<div>				
				
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->


					<!-- widget content -->
					<div class="widget-body no-padding">

						<form id="deleteForm" action="{{ path('app_backendbundle_centeraspiration_delete_list') }}" method="post">
							<table id="data_store" class="table table-striped table-bordered smart-form" width="100%">

								<thead>
									<tr>

										<th class="hasinput" style="width:1%">
											<input type="hidden" />
										</th>
										
										<th class="hasinput" style="width:1%">
											<input type="hidden" />
										</th>									

									<th class="hasinput">
										<input type="text" class="form-control" placeholder="Filtrar Título" />
									</th>
									<th class="hasinput">
										<input type="text" class="form-control" placeholder="Filtrar Descripción" />
									</th>


										<th>
											&nbsp;
										</th>

									</tr>
									<tr>
										
										<th>
											<label class="checkbox">
												<input type="checkbox" name="checkbox">
												<i></i>
											</label>
										</th>
										<th class="center" data-hide="phone">No.</th>
									<th data-class="expand">
										Título
									</th>
									<th>
										Descripción
									</th>

										<th style="width:20%" data-hide="phone">Acciones</th>
									</tr>
								</thead>

								<tbody>

									{% for item in ObjList.data %}
									<tr class="selectable">
										<td class="center">
											<label class="checkbox">
												<input type="checkbox" name="delete_item[]" value="{{ item.id }}"/>
												<i></i>
											</label>
										</td>
										<td class="center">{{loop.index}}</td>
									<td class="left">{{item.title}}</td>
									<td class="left">{{item.description| striptags | slice(0, 50) | raw}}</td>

										<td class="center" style="width: 100px;">
											<a href="{{ path('app_backendbundle_centeraspiration_edit',{ 'id': item.id }) }}" class="btn btn-xs btn-success glyphicon glyphicon-pencil">
												<i></i>
											</a>
											<a href="{{ path('app_backendbundle_centeraspiration_delete',{ 'id': item.id }) }}" class="btn btn-xs btn-danger glyphicon glyphicon-trash">
												<i></i>
											</a>

                                            <a class="btn btn-primary btn-xs" href="{{ path('app_backendbundle_centeraspiration_edit',{ 'id': item.id , '_locale':'es' }) }}">ES</a>
                                            <a class="btn btn-primary btn-xs" href="{{ path('app_backendbundle_centeraspiration_edit',{ 'id': item.id , '_locale':'en'}) }}">EN</a>


										</td>
									</tr>
									{% endfor %}

								</tbody>
						
							</table>
						</form>

						<div class="modal fade" id="confirmDelete">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">Eliminar</h4>
									</div>
									<div class="modal-body">
										<p>Est&aacute; seguro que desea realizar est&aacute; operaci&oacute;n.</p>
									</div>
									<div class="modal-footer">
										<a class="btn btn-danger btn-icon glyphicons bin" href="#" onclick="$('#deleteForm').submit();"><i></i>S&iacute;</a>
										<a class="btn btn-primary btn-icon glyphicons circle_remove" href="#" data-dismiss="modal"><i></i>No</a>
									</div>
								</div>
							</div>
						</div>							
						
					</div>
					<!-- end widget content -->					
				
				</div>
				<!-- widget div-->
				
			</div>
		<!-- WIDGET START -->
		
		</article>
	</div>
	<!-- row -->

</section>
<!-- widget grid -->
	{% endif %}
{% else %}

			<!--.modal-dialog -->
			<div class="modal-dialog demo-modal">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="fa fa-warning txt-color-red"></span>
							<strong>Ups!</strong> Ocurrio un error
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-1">
								<span class="fa fa-bomb font-size-40"></span> 
							</div>
							<div class="col-md-10">
								{{ObjList.message}}							
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal-dialog -->

{% endif %}

{% endblock %}


{% block extra_js %}

	<script src="/Theme/Backend/js/plugin/datatables/jquery.dataTables.min.js"></script>
	<script src="/Theme/Backend/js/plugin/datatables/dataTables.colVis.min.js"></script>
	<script src="/Theme/Backend/js/plugin/datatables/dataTables.tableTools.min.js"></script>
	<script src="/Theme/Backend/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
	<script src="/Theme/Backend/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>


	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/list.js"></script>
	<script src="/App/BackendBundle/CenterAspiration/js/list.js"></script>

{% endblock %}
