@charset "utf-8";
/* CSS Document */

.navbar{
 /*border-bottom:2px #AA5500 solid;*/
 border-color: rgba(235,137,36,1) !important;
}

.site-name-and-slogan{
	margin-top:45px;
}

.site-name{
	color:#EB8A24;
	font-size:200%;
	text-transform: uppercase;
}

.site-slogan{
	margin-top:-10px;
	font-size:100%;
}

.btn-menu{
	opacity:1;
	background-image:url(../images/btnmenu.png);
	background-size:contain;
	background-repeat:no-repeat;
	width:40px;
	height:30px;
	margin-top:10px;
background-color:rgba(255,1,5,0);
border:0px;
float:right;
}

.brand{
width:75%;	
margin-top:-20px;
}

.icon-people{
	width:100%;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: rgba(255,255,255,.7);;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #fff;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff!important;
    background-color: transparent;
}

.navbar{
background-color: rgba(235,137,36,1);	
}

/*.banner{
background-image:url(../images/banner.png);	
background-size:contain;
background-repeat:no-repeat;
overflow:hidden;
}*/


#logo-pc{
	z-index: 2;
	position: fixed;
	margin-top: 30px;
}

@media screen and (min-width: 767px){
	#after-logo{
		margin-left: 160px;
	}
}

#top-menu{
	margin-left: 25%;
	height: 114px;
}

@media screen and (min-width: 767px){
	#top-menu{
		margin-left: 4%;
		height: 70px;
	}
	#logo-pc{
		margin-top: -20px;
	}
}

@media screen and (min-width: 1024px){
	#top-menu{
		margin-left: 15%;
		height: 70px;
	}
	#logo-pc{
		margin-top: -20px;
	}
}

@media screen and (min-width: 1200px){
	#top-menu{
		margin-left: 13%;
		height: 90px;
	}
	#logo-pc{
		margin-top: -35px;
	}
}

@media screen and (min-width: 1365px){
	#top-menu{
		margin-left: 18%;
		height: 95px;
	}
	#logo-pc{
		margin-top: -30px;
	}
}

@media screen and (min-width: 1439px){
	#top-menu{
		margin-left: 20%;
		height: 95px;
	}
	#logo-pc{
		margin-top: -30px;
	}
}

#top-menu img{
	width: 100%;
	height: auto;
}

.linesbanner{
float:left;
position:absolute;
width:100%;
margin-top:-250px;

z-index:999;
}

.title{
color:rgba(255,255,255,1.00);	
	
}
.title1{
height:60px;
color:rgba(255,255,255,1.00);
background: url('../images/home-section1-title.png') no-repeat 50%  0px;
background-size:contain;
position:500px;
}

.title2{
height:60px;
color:rgba(255,255,255,1.00);
background: url('../images/home-section2-title.png') no-repeat 50%  0px;
background-size:contain;
position:500px;
}

.title3{
height:60px;
color:rgba(255,255,255,1.00);
background: url('../images/home-section3-title.png') no-repeat 50%  0px;
background-size:contain;
position:500px;
}

.title3-2{
	
height:60px;
color:rgba(255,255,255,1.00);
background: url('../images/home-section4.2-title.png') no-repeat 50%  0px;
background-size:contain;
position:500px;
}

.title4{
height:65px;
color:rgba(255,255,255,1.00);
background: url('../images/home-section4-title.png') no-repeat 50%  0px;
background-size:contain;
position:500px;
}

.text-title{
padding-top:10px;	
}

.text-title2{
	padding-top:10px;
	color:#99CC33;
}

.text-title3{
	padding-top:10px;
	color:#4D8FA1;
}

.text-colored2 {
	color: #fff;
}

.leadcolor1{
color:#4D8FA1;	
	
}

.leadcolor2{
color:#339BEB;	
	
}

.leadcolor3{
color:#fff ;	
	
}

.text-footer{
		float:left;
		margin-left:25%;
}

.logo-bindevel{
	float:left;
}

.new-section{
background-color:rgba(255,255,255,0);	
}

.prev-arrow{
	width:50px;
	height:50px;
	background: url('../images/arrow-10.png');
margin-top:100%;

	background-repeat:no-repeat;
	background-size:contain;
}

.next-arrow{
	width:50px;
	height:50px;
	background: url('../images/arrow-11.png');
margin-top:100%;

	background-repeat:no-repeat;
	background-size:contain;
}

.prev-arrow:hover{
	width:50px;
	height:50px;
	background: url('../images/arrow-10.png');
margin-top:100%;
margin-left:-10%;
	background-repeat:no-repeat;
	background-size:contain;
}

.next-arrow:hover{
	width:50px;
	height:50px;
	background: url('../images/arrow-11.png');
margin-top:100%;
margin-left:10%;
	background-repeat:no-repeat;
	background-size:contain;
}


.prev-arrow2{
	width:50px;
	height:50px;
	background: url('../images/arrow-10-1.png');
margin-top:100%;

	background-repeat:no-repeat;
	background-size:contain;
}

.next-arrow2{
	width:50px;
	height:50px;
	background: url('../images/arrow-11-1.png');
margin-top:100%;

	background-repeat:no-repeat;
	background-size:contain;
}

.prev-arrow2:hover{
	width:50px;
	height:50px;
	background: url('../images/arrow-10-1.png');
margin-top:100%;
margin-left:-10%;
	background-repeat:no-repeat;
	background-size:contain;
}

.next-arrow2:hover{
	width:50px;
	height:50px;
	background: url('../images/arrow-11-1.png');
margin-top:100%;
margin-left:10%;
	background-repeat:no-repeat;
	background-size:contain;
}


@media(min-width:768px) {
.page-scroll:hover{
margin-top:-5px;
}

.btn-default3{
margin-left:43%;	
}
}

@media(max-width:768px) {
.brand{
width:75%;	
margin-top:-20px;
background-color:transparent;
}

.page-scroll{
color:rgba(255,255,255,1.00);
position:fixed;
text-align:right;
	
}

.page-scroll:hover{
margin-right:10px;
}

.navbar-header{
border-bottom:2px #AA5500 solid;
}

.navbar{
border-bottom-width:0px;	
}

.icon-bar{
color:rgba(255,0,4,1.00);	
}


.btn-menu:hover{
	opacity:.7;
	
}

}

.slogan{
    float:left;	
    font-size: 2em;
}

.slogan-ln1{    
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 0px;
      margin-top: 10px;
      
        margin-left: 40%;  
}

.slogan-ln2{
    font-weight: lighter;    
    width: 100%;
    text-align: left;
    margin-right: 0px; 
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 45%;
}

@media screen and (max-width: 768px) {
    .slogan{
        font-size: 2.5em;
    }    
    .slogan-ln1{
        font-size: 0.5em !important;
    }
    .slogan-ln2{
        font-size: 0.5em !important;
    }
}

@media screen and (min-width: 1200px) {
    .slogan{
        font-size: 2.8em
    } 
}


.caption{
    float:left;
    text-align:left;
    background: url('../images/bgtext1-07.png') no-repeat;
    width: 100%;
    background-size:contain;
    opacity:.9;
}

.linesbanner{
float:left;
position:absolute;
width:100%;
margin-top:-100px;

z-index:999;
}

.title4{
height:95px;
color:rgba(255,255,255,1.00);
background: url('../images/home-section4.2-title.png') no-repeat 50%  8px;
background-size:contain;
position:500px;
}

.text-title3{
	margin-top:-10px;
}

.btn-default3{
	margin-left:28%;
}

.text-footer{
margin-left:25%;	
}

.logo-bindevel{
margin-left:35%;	
}

}