{% extends "AdminCoreBundle:Default:index.html.twig" %}
{% block content %}

					<!-- start Content -->
					<div id="formContent">
						<input id="IdBackRoute" type="hidden" value="{{ path('app_backendbundle_visitcounter_list') }}">


						<div class="separator"></div>
						<h4 class="glyphicons circle_plus"><i></i>Adicionar VisitCounter</h4>
						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>
							
								<div class="row">

								<section class="col col-6">
									{{ form_row(form.device) }}
									{{ form_row(form.navigator) }}
									{{ form_row(form.version) }}
								</section>

								<section class="col col-6">
									{{ form_row(form.os) }}
									{{ form_row(form.dateOfVisit) }}
								</section>



								</div>




								<footer>
									{{ form_widget(form.cancel) }}
									{{ form_widget(form.saveAndAddNew) }}
									{{ form_widget(form.saveAndReturnToList) }}
									{{ form_widget(form.add) }}									
								</footer>

							</fieldset>
						{{ form_end(form) }}


					</div>



					<!-- End Content -->
{% endblock %}


{% block extra_js %}



	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/create.js"></script>
	<script src="/App/BackendBundle/VisitCounter/js/create.js"></script>

{% endblock %}


