{% extends "AdminCoreBundle:Default:index.html.twig" %}

{% block content %}


			<div class="modal-dialog demo-modal">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="glyphicon glyphicon-fire txt-color-red"></span>
							Eliminar
						</h4>
					</div>
					<div class="modal-body">
						<h4 class="alert-titleing">Confirmaci&oacute;n de borrado.</h4>
						<p>
							Est&aacute; seguro que desea eliminar este elemento?.
						</p>
					</div>
					<div class="modal-footer">

						<form action="{{ path('app_backendbundle_visitcounter_delete',{ 'id': id }) }}" method="POST" id="deleteForm">

							{{ form_row(delete_form.id) }}
							{{ form_errors(delete_form) }}
							{{ form_rest(delete_form) }}

							<button type="submit" class="btn btn-danger">
								<span class="glyphicon glyphicon-trash">&nbsp;</span>Eliminar
							</button>
							<a class="btn btn-success" href="{{ path('app_backendbundle_visitcounter_list') }}">
								<span class="glyphicon glyphicon-circle-arrow-left">&nbsp;</span>
								Atr&aacute;s
							</a>
						</form>								
						
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->


{% endblock %}