{% extends "AdminCoreBundle:Default:index.html.twig" %}
{% block content %}

{% if ObjList.success %}


	{% if ObjList.data|length > 0 %}

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<!-- WIDGET START -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-VisitCounter" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
			
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Contador de visitas </h2>
				</header>			

				<!-- widget div-->
				<div>				
				
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->


					<!-- widget content -->
					<div class="widget-body no-padding">

							<table id="data_store" class="table table-striped table-bordered smart-form" width="100%">

								<thead>
									<tr>

										<th class="hasinput" style="width:1%">
											<input type="hidden" />
										</th>

                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Dispositivo" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Navegador" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Versión" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Sistema Operativo" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control useDatepicker" placeholder="Filtrar Fecha de la visita"  data-dateformat="yy/mm/dd"/>
                                        </th>

									</tr>
									<tr>
										
										<th class="center" data-hide="phone">No.</th>
                                        <th data-class="expand">
                                            Dispositivo
                                        </th>
                                        <th>
                                            Navegador
                                        </th>
                                        <th>
                                            Versión
                                        </th>
                                        <th data-hide="phone">
                                            Sistema Operativo
                                        </th>
                                        <th data-hide="phone">
                                            Fecha de la visita
                                        </th>

									</tr>
								</thead>

								<tbody>

									{% for item in ObjList.data %}
									<tr class="selectable">

                                        <td class="center">{{loop.index}}</td>
                                        <td class="left">{{item.device}}</td>
                                        <td class="left">{{item.navigator}}</td>
                                        <td class="left">{{item.version}}</td>
                                        <td class="left">{{item.os}}</td>
                                        <td class="center">{{item.dateOfVisit}}</td>


									</tr>
									{% endfor %}

								</tbody>
						
							</table>

						
						
					</div>
					<!-- end widget content -->					
				
				</div>
				<!-- widget div-->
				
			</div>
		<!-- WIDGET START -->
		
		</article>
	</div>
	<!-- row -->

</section>
<!-- widget grid -->
	{% endif %}
{% else %}

			<!--.modal-dialog -->
			<div class="modal-dialog demo-modal">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="fa fa-warning txt-color-red"></span>
							<strong>Ups!</strong> Ocurrio un error
						</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-1">
								<span class="fa fa-bomb font-size-40"></span> 
							</div>
							<div class="col-md-10">
								{{ObjList.message}}							
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal-dialog -->

{% endif %}

{% endblock %}


{% block extra_js %}

	<script src="/Theme/Backend/js/plugin/datatables/jquery.dataTables.min.js"></script>
	<script src="/Theme/Backend/js/plugin/datatables/dataTables.colVis.min.js"></script>
	<script src="/Theme/Backend/js/plugin/datatables/dataTables.tableTools.min.js"></script>
	<script src="/Theme/Backend/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
	<script src="/Theme/Backend/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>


	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/list.js"></script>
	<script src="/App/BackendBundle/VisitCounter/js/list.js"></script>

{% endblock %}
