{% extends "AdminCoreBundle:Default:index.html.twig" %}

{% block content %}

					<!-- start Content -->
					<div id="formContent">
						
						<input id="IdBackRoute" type="hidden" value="{{ path('admin_corebundle_user_list') }}">

						<div class="separator"></div>
						<h4 class="glyphicons edit">
							<i></i>Editar Usuario

						</h4>
						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>

								<div class="row">
								<section class="col col-6">
									{{ form_row(form.username) }}
									{{ form_row(form.fullName) }}
									{{ form_row(form.email) }}
									{{ form_row(form.password,{'value':entity.password}) }}
								</section>

								<section class="col col-6">
									{{ form_row(form.roles) }}
									{{ form_row(form.photo,{'value':entity.getPhotoWebPath()}) }}

								</div>






								<footer>
									{{ form_widget(form.cancel) }}
									{{ form_widget(form.saveAndAddNew) }}
									{{ form_widget(form.saveAndReturnToList) }}
									{{ form_widget(form.save) }}
								</footer>


							</fieldset>
						{{ form_end(form) }}


					</div>


					
					<!-- End Content -->
{% endblock %}


{% block extra_js %}

	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/edit.js"></script>
	<script src="/Admin/CoreBundle/User/js/edit.js"></script>
	
{% endblock %}