{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' label')|trim}) %}

        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
		{{ label|trans({}, translation_domain) }}
        {% if required %}
			<span style="color:red">*</span>
        {% endif %}
		</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}


{% block form_row %}
{% spaceless %}

	{{ form_label(form) }}
	{{ form_widget(form) }}
	{{ form_errors(form) }}

{% endspaceless %}
{% endblock form_row %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    <form class="smart-form" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}


{% block submit_widget %}
{% spaceless %}
	{% set type = type|default('submit') %}
	{{ block('button_widget') }}
{% endspaceless %}
{% endblock submit_widget %}

{% block reset_widget %}
{% spaceless %}
    {% set type = type|default('reset') %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock reset_widget %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
			<div class="note note-error">
				<i class="fa fa-warning"></i> {{ error.message }}
			</div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}

		<button type="{{ type|default('button') }}" {{ block('button_attributes') }}><i></i>{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{% block file_widget %}

	{%- set type = type|default('file') -%}
	{%- set image_url = image_url|default(null) -%}
	{%- set is_image = false -%}
	
	<div>

		{% if image_url is not null %}
			{%- set is_image = true -%}
		<div class="thumbnail">
			<img src="{{image_url}}" style="max-width:400px;max-height:200px;">
		</div>
		{% endif %}

		<label class="input input-file" for="{{id}}">
			<div class="button">
				<input type="{{ type }}" {{ block('field_widget_attributes') }} onchange="this.parentNode.nextSibling.value = this.value">
				<span>
					{{ max_file_size() | format_bytes }}
					<i class="fa fa-upload"></i>
				</span>
			</div>
			<input type="text" readonly="" placeholder="Include some files" {% if value is not empty %}value="{{ value }}" {% endif %}>
		</label>
		
		{% if value is not empty %}
			{% if not is_image %}
		<span><b>Guardado</b></span>
			{% endif %}
		{% endif %}
		
	</div>

{% endblock %}

{%- block field_widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
	{% if value is empty %}
		{%- if required %} required="required"{% endif -%}
	{% endif %}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
	
{%- endblock field_widget_attributes -%} 


{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
	<label class="input {{ block('render_label_err') }}">
		<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
	</label>
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
	<label class="textarea {{ block('render_label_err') }}">
		<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
	</label>
{%- endblock textarea_widget -%}

{%- block checkbox_widget -%}
	<label class="checkbox {{ block('render_label_err') }}">
		<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
		<i></i> {{- label -}}
	</label>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
	<label class="radio {{ block('render_label_err') }}">
		<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
		<i></i>
	</label>
{%- endblock radio_widget -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }} style="overflow:auto">
    {%- for child in form %}
        {{- form_widget(child) -}}
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
	<label class="select {{ block('render_label_err') }}">
		<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
			{%- if placeholder is not none -%}
				<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? placeholder|trans({}, translation_domain) }}</option>
			{%- endif -%}
			{%- if preferred_choices|length > 0 -%}
				{% set options = preferred_choices %}
				{{- block('choice_widget_options') -}}
				{%- if choices|length > 0 and separator is not none -%}
					<option disabled="disabled">{{ separator }}</option>
				{%- endif -%}
			{%- endif -%}
			{%- set options = choices -%}
			{{- block('choice_widget_options') -}}
		</select>
		<i></i>
	</label>
{%- endblock choice_widget_collapsed -%}

{%- block render_label_err -%}
    {% if errors|length > 0 %}
		state-error
    {% endif %}
{%- endblock render_label_err -%}

