{%- block icon_btn_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}

    	{% set type = attr.type|default('button') %}
		<button type="{{ type }}" {{ block('button_attributes') }}>
		  	<i class="{{icon}}" style="font-size:20px;line-height: none;"></i>
			{{ label|trans({}, translation_domain) }}
		</button>
{%- endblock icon_btn_widget -%}