{% block icon_selector_widget %}
<label class="select {{ block('render_label_err') }}">
	<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
		<option value="-" >&nbsp;-</option>
	{% for choice in choices %}
		<option value="{{ choice.value }}" class="fa {{ choice.value }}" style="display: block;" {% if choice is selectedchoice(value) %} selected="selected"{% endif %}>&nbsp;{{ choice.value }}</option>
	{% endfor %}
	</select>
	<i></i>
</label>
{% endblock %} 