.margin-bottom-5 {
	margin-bottom: 20px;
}

.margin-bottom-10 {
	margin-bottom: 20px;
}

.margin-bottom-15 {
	margin-bottom: 20px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

td.center > i {
	font-size: 25px/1em;
}