{% extends "AdminCoreBundle:Default:index.html.twig" %}

{% block content %}

					<!-- start Content -->
					<div id="formContent">
						
						<input id="IdBackRoute" type="hidden" value="{{ path('app_backendbundle_donationqty_list') }}">

						<div class="separator"></div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="pull-lef margin-bottom-10">
									<h4>
										<span class="glyphicon glyphicon-edit"></span>&nbsp;Cantidadad
									</h4>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="pull-right margin-bottom-10">

								</div>
							</div>
						</div>

						<div class="separator"></div>
						{% form_theme form 'AdminCoreBundle:Form:fields.html.twig' %}
						{{ form_start(form) }}
							<fieldset>

								<div class="row">
								<section class="col col-6">
									{{ form_row(form.value) }}
								</section>


								</div>






								<footer>
									{{ form_widget(form.cancel) }}
									{{ form_widget(form.saveAndAddNew) }}
									{{ form_widget(form.saveAndReturnToList) }}
									{{ form_widget(form.save) }}
								</footer>


							</fieldset>
						{{ form_end(form) }}


					</div>


					
					<!-- End Content -->
{% endblock %}


{% block extra_js %}

	<script src="/Theme/Backend/js/default/commands.js"></script>
	<script src="/Theme/Backend/js/default/edit.js"></script>
	<script src="/App/BackendBundle/DonationQty/js/edit.js"></script>
	
{% endblock %}