
{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    {% else %}
        {{ 'security.login.submit'| trans({}, 'FOSUserBundle') }}    
    {% endif %}


    
{% endblock title %}

    
{% block fos_user_content %}



        <div class="panel-body">
      
            <div class="row">
      
                <div class="col-md-5" >
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-lg btn-primary btn-block">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Facebook
                    </a>
                    <br/>
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-lg btn-danger btn-block">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                        Google+                        
                    </a>
                    <br/>
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg btn-default btn-block">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        {{ 'registration.submit'| trans({}, 'FOSUserBundle') }}                        
                    </a>
                    <br/>
                </div>

                <div class="col-md-7" style="border-left:1px solid #ccc;">
    
                    <form action="{{ path("fos_user_security_check") }}" method="POST" class="form-horizontal">

                        <fieldset>
                        
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control input-md" />

                            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="password" id="password" name="_password" required="required" class="form-control input-md" />

                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                            <div class="spacing">
                            </div>
                          
                            {% if error %}
                                <div class="text-danger">
                                    {{ error|trans({}, 'FOSUserBundle') }}        
                                </div>
                            {% endif %}
                            
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-info btn-sm pull-right"/>
                            
                        </fieldset>
                    </form>
                </div>
        
            </div>
        
        </div>


{% endblock fos_user_content %}
