
{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    {% else %}
        {{ 'security.login.submit'| trans({}, 'FOSUserBundle') }}    
    {% endif %}


    
{% endblock title %}

    
{% block fos_user_content %}

    {% if error %}
        <div class="text-danger">
            {{ error|trans({}, 'FOSUserBundle') }}        
        </div>
    {% endif %}
    

    <form action="{{ path("fos_user_security_check") }}" method="POST">
    
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      
      <div class="form-group has-feedback">
        <input type="email" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      
      <div class="form-group has-feedback">
        <input type="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-block btn-flat"/>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <hr>
      
      <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-block btn-social btn-facebook btn-flat">
        <i class="fa fa-facebook"></i> 
            Facebook
      </a>
      
      <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-block btn-social btn-google btn-flat">
        <i class="fa fa-google-plus"></i> 
            Google+
      </a>

      <a href="{{ path('fos_user_registration_register') }}" class="btn btn-block btn-social btn-default btn-flat">
        <i class="fa fa-share-alt"></i> 
            {{ 'registration.submit'| trans({}, 'FOSUserBundle') }}
      </a>

    </div>
    <!-- /.social-auth-links -->



{% endblock fos_user_content %}
